#Card_viewVehicalDetails{
  background-color: #c7d0d7;
    box-shadow: #96a7af 7px 7px;
    border-radius: 30px;
    // border-color: #74808a;
    border: solid 2.5px #74808a;
}

.images_h3 {
margin-top: 100px;
}